{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>MyBlog</title>
</head>

<body style="margin: 0;
padding: 0;
">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'posts' %}"><img class="nav-logo"
                    src="../../media/uploads/blog-logo.png"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    
                        {% if request.user.is_authenticated %}
                        <li class="nav-item">
                        <span class="nav-user" style="margin-right:10px;">Logged in as: <a
                                href="{% url 'profile' %}"><b>{{ request.user.username }}</b><img class="nav-profileImage"
                                    src="{{ request.user.profile.image.url }}"></a></span>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <span class="nav-user" style="margin-right:10px">Hello guest!</span>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <button type="button" onclick="location.href=`{% url 'add_blog' %}`" class="btn btn-success"
                            style="margin-right:10px">Add blog</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" onclick="location.href=`{% url 'profile' %}`"
                            class="btn btn-outline-primary" style="margin-right:10px">Profile</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" onclick="location.href=`{% url 'blocked_users' %}`"
                            class="btn btn-outline-dark " style="margin-right:10px">Blocked users</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" onclick="location.href=`{% url 'about' %}`"class="btn btn-outline-info">About</button>
                    </li>

                </ul>
                <form class="d-flex" method=POST action="{% url 'search' %}">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                        name="searched">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </form>
                {% if user.is_authenticated %}
                <form class="d-flex logout-link" action="{% url 'logout' %}" method="post" style="margin-left:30px">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger">Logout</button>
                </form>
                {% else %}
                <form class="d-flex logout-link" action="{% url 'login' %}" style="margin-left:30px">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>


  

    <script>
        $(function () {
            $('#datepicker').datepicker();
        });</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>