{% extends 'base.html' %}
{% block title %}Posts | {% endblock %}

{% block content %}
<body>
    {% for post in post_objects %}
    <div class="card" style="width: 30rem;">
        {% if post.image %}<a href="{% url 'post_detail' post.id %}"  >
        <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap"></a>
        {% endif %}
        <div class="card-body"><a href="{% url 'post_detail' post.id %}" >
          <h5 class="card-title"><b>{{ post.title }}</b></h5></a>
          <p class="card-text" style="height:40px;"><a href="{% url 'user_detail' post.author.username %}" ><img src="{{ post.author.profile.image.url }}" style="height:75%; width:auto; border-radius: 50%; margin-right: 7px;"><b>{{ post.author }}</b></a>
          <br><small class="text-muted">{{ post.created_at|timesince }} ago</small></p>
        </div>
    </div>
    {% endfor %}
</body>
{% endblock %}



