{% extends 'base.html' %}

{% block content %}
<div class="card post-card">
    <div class="card-body">
        <h1 class="card-title">{{ post.title }}</h1></a>
        <p class="card-text" style="height:50px"><a href="{% url 'user_detail' post.author.username %}"><img src="{{ post.author.profile.image.url }}" style="height:75%; width:auto; border-radius: 50%; margin-right: 7px;"><b>{{ post.author }}</b></a><small style="margin-left:10px"> {{ post.created_at|timesince }} ago</small>
            {% if post.author == request.user %}
            <a href="{% url 'edit_post' post.id %}" style="margin-left:7px;color:red;">Edit post</a>
            {% endif %}
            <br>Last edited: {% if post.last_edited_at %}
            {{ post.last_edited_at }}
            {% else %}
            Never
            {% endif %}  
        </p>
    </div>
    {% if post.image %}
        <img class="card-img-top" src="{{ post.image.url }}" style="max-height:500px; width:auto" alt="Card image cap">
    {% endif %}
    <div class="card-body">
            <p class="card-text">{{ post.body }}</p>
    </div>
</div>


<hr>
<div class="comments-container">
    <h2>Comments</h2>
    <form method="post" class="mb-6">
        {% csrf_token %}
        {{ form }}

        <div class="field">
            <div class="control">
                <button class="btn btn-outline-success button is-success">Submit comment</button>
            </div>
        </div>
    </form>

    {% for comment in post.comments.all %}
    <div class="card">
        <div class="card-body">
            <a href="{% url 'user_detail' comment.author.username %}"><h5 class="card-title" style="height: 30px;"><img src="{{ comment.author.profile.image.url }}" style="height:75%; width:auto; border-radius: 50%; margin-right: 7px;">{{ comment.author }}</h5></a>
          <h6 class="card-subtitle mb-2 text-muted">{{ comment.created_at|timesince }} ago {% if comment.author == request.user or post.author == request.user %}
            <a href="{% url 'edit_comment' comment.id %}">Edit comment</a>
            {% endif %}</h6>
          <p class="card-text">{{ comment.body }}</p>
        </div>
      </div>
</div>
{% endfor %}
{% endblock %}