{% extends 'base.html' %}

{% block content %}
<body>

    <div class="card mb-1" style="max-width: 800px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{ user.profile.image.url }}" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ user.username }}</h5>
              <p class="card-text"><small class="text-muted">{{ user.first_name }} {{ user.last_name }}
                <br>{{ user.email }}<br></small>{{ user.profile.bio }}</p>
                {% if request.user != user %}
                    {% if not user in request.user.profile.blockedUsers.all %}
                    <button type="button" onclick="location.href=`{% url 'block_user' user.username %}`" class="btn btn-outline-danger">Block user</button>
                    {% else %}
                    <button type="button" onclick="location.href=`{% url 'unblock_user' user.username %}`" class="btn btn-outline-danger">Unblock user</button>
                    {% endif %}
                {% endif %}
                
            </div>
          </div>
        </div>
    </div>

    

    {% if not request.user in user.profile.blockedUsers.all %}
    {% for post in posts %}
    <div class="card" style="width: 30rem;">
      {% if post.image %}<a href="{% url 'post_detail' post.id %}"  >
      <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap"></a>
      {% endif %}
      <div class="card-body"><a href="{% url 'post_detail' post.id %}" >
        <h5 class="card-title"><b>{{ post.title }}</b></h5></a>
        <p class="card-text" style="height:40px;"><a href="{% url 'user_detail' post.author.username %}" ><img src="{{ post.author.profile.image.url }}" style="height:75%; width:auto; border-radius: 50%; margin-right: 7px;"><b>{{ post.author }}</b></a>
          <br><small class="text-muted">{{ post.created_at|timesince }} ago</small></p>
      </div>
  </div>
{% endfor %}
{% endif %}
    
</body>
{% endblock %}